{
	http_port 3000
	auto_https off
	servers :3000 {
		protocol {
			experimental_http3
		}
	}
	log {
		output stdout
		level error
		format console
	}
}

http:// {
	log {
		output stdout
		level error
		format console
	}

	route {
		header Cache-Control max-age=3600
		header /static/* Cache-Control max-age=31536000
	}

	encode * gzip zstd

	root * /site
	try_files {path} /index.html
	file_server
}
